{
  "extends": [
    "eslint:recommended",
    "airbnb",
    "react-app",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 11
  },
  "plugins": ["import", "jsx-a11y", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}
