@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.TodoList {
  list-style-type: none;
  padding: 0px;
  width: 100%;
}

.TodoList__li {
  font-family: 'Roboto', sans-serif;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.TodoList__li:hover {
  background-color: #ddd;
  cursor: pointer;
}

.TodoList__li--finished {
  text-decoration: line-through;
}
