{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true,
    "jest": true,
  },
  "extends": ["airbnb-base", "eslint:recommended", "prettier"],
  "parserOptions": {
    "ecmaVersion": 11,
  },
  "plugins": ["import", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off"
  },
}
