@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.TodoList {
  list-style-type: none;
  margin: auto;
  padding: 0px;
  width: calc(100vw - 40px);
  max-width: 600px;
  height: calc(85vh - 80px - 200px);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.TodoList::-webkit-scrollbar {
  display: none;
}

.TodoList__li {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  /* margin: 5px auto; */
}

.TodoList__li:hover,
.TodoList__li:active {
  background-color: #c1d5e0;
  cursor: pointer;
}

.TodoList__li--finished {
  text-decoration: line-through;
}
